.navbar-icon {
  border-radius: 100%;
  height: 55px;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 1000;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

.numbers,
.bigint {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 20px;
}

.history {
  font-size: large;
  border-radius: 5px !important;
}

.varlet {
  font-size: large;

}

.round {
  border-radius: 100%;
}

.simpleCalculator2,
.retirementCalculator {
  background-color: black;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  padding: 20px;
  /* optional for spacing inside the boxes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  /* center the boxes on the screen */
}

.bodyall {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .bodyall {
    flex-direction: column;
    align-items: center;
  }
}

input::placeholder {
  color: gray;
  opacity: 1;
}

.mycode {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mycode::-webkit-scrollbar {
  display: none;
}
body{
  overflow-x: hidden ;
}